<template>
    <div>

        <h3>Educational Background</h3>

        <p>
            We Can Code IT - Software Engineering, 2016
            <small class="text-muted">Cleveland, OH</small>
        </p>

        <p>
            Syracuse University - Civil Engineering Coursework, 2009-2012
            <small class="text-muted">Syracuse, NY</small>
        </p>
        <br />
        <br />

        <h3>Contact Me</h3>
        <p>I can be contacted from the options listed below:</p>

        <ul class="list-inline">
            <li>
                <a href="mailto:alexiscchandler@gmail.com">
                    <img border="0" alt="LinkedIn" src="../../../Images/email-icon.png" width="60" height="60" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alexis-chandler/">
                    <img border="0" alt="LinkedIn" src="../../../Images/linkedin-icon.png" width="60" height="60" />
                </a>
            <li>
                <a href="https://www.github.com/acchandl">
                    <img border="0" alt="Github" src="../../../Images/github-icon.png" width="60" height="60" />
                </a>
            </li>
        </ul>

    </div>
</template>


